---
title: Machine Learning
---
<h1>Machine Learning</h1>

{% for category in site.data.category-ml %}

<p>{{ category.name }}</p>
<u>
    {% for topic in site.machinelearning %}
        {% if topic.category == category.name %}
        <li>
            <a href="{{ topic.url }}">{{ topic.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
</u>
{% endfor %}

<br><br>

Sources:
<br>
- <a href="https://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/understanding-machine-learning-theory-algorithms.pdf">
    Understanding Machine Learning: From Theory to Algorithms</a>, Shai Shalev-Shwartz and Shai Ben-David
<br>
- Télécom Paris courses
<br>
- <a href="https://www.coursera.org/specializations/deep-learning">Deep learning classes</a>, Andrew Ng